<div class="dialog" *ngIf="aberto">
  <div
    class="dialog__overlay"
    (click)="cancelarAoClicarOverlay ? cancelar.emit() : null"
  ></div>
  <div class="dialog__content">
    <h3>{{ titulo }}</h3>
    <p [class.dialog__message--danger]="mensagemDestaque">{{ mensagem }}</p>
    <div class="dialog__body">
      <ng-content></ng-content>
    </div>
    <div class="dialog__actions">
      <button type="button" class="primary" (click)="confirmar.emit()">{{ confirmarLabel }}</button>
      <button type="button" class="ghost" (click)="cancelar.emit()">{{ cancelarLabel }}</button>
    </div>
  </div>
</div>

