node_modules
/dist
/.angular
/.vscode
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
frontend/node_modules
backend-antigo/node_modules
backend-antigo/dist
frontend/dist
docker/secrets/configuracao servidor email.txt
backend-antigo/data
backend/*.sqlite
/backend/target
**/target
*.class
.idea
.vscode
.classpath
.project
.settings
.gradle
tmp_folha.txt
tmp_edit.py
.env
actions-runner
configuracao servidor email.txt
backend/storage/
