<div class="agenda-header">
  <div>
    <p class="agenda-eyebrow">Agenda mensal</p>
    <h3 class="agenda-title">{{ rotuloMes }}</h3>
  </div>
  <div class="agenda-actions">
    <button type="button" (click)="alterarMes(-1)">Mes anterior</button>
    <button type="button" (click)="alterarMes(1)">Proximo mes</button>
  </div>
</div>

<div class="agenda-grid">
  <div class="agenda-weekday" *ngFor="let dia of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']">
    {{ dia }}
  </div>
  <button
    type="button"
    class="agenda-day"
    *ngFor="let dia of dias"
    [class.agenda-day--out]="!dia.pertenceMes"
    [class.agenda-day--blocked]="dia.temBloqueio"
    (click)="selecionar(dia)"
  >
    <span class="agenda-day__number">{{ dia.numero }}</span>
    <span class="agenda-day__badge" *ngIf="dia.qtdEmprestimos > 0">{{ dia.qtdEmprestimos }}</span>
  </button>
</div>


