<app-tela-padrao [mostrarToolbar]="false" [fullWidth]="true">
  <header class="painel-header" slot="titulo">
    <div class="painel-header__brand">
      <span class="painel-header__title">{{ nomeInstituicao }}</span>
      <span class="painel-header__subtitle">ATENDIMENTO</span>
    </div>
    <div class="painel-header__unit">{{ nomeUnidadePainel || '' }}</div>
    <div class="painel-header__clock">
      {{ horaAtual | date: 'dd/MM/yyyy HH:mm' }}
    </div>
  </header>

  <section class="painel-tv">
    <div class="painel-tv__main">
      <div class="senha-display" *ngIf="(chamadaAtual || ultimasChamadas[0]) as chamada; else vazio">
        <div class="senha-display__label">CHAMADA ATUAL</div>
        <div class="senha-display__senha">{{ chamada.nomeBeneficiario }}</div>
        <div class="senha-display__nome">{{ chamada.localAtendimento }}</div>
      </div>

      <ng-template #vazio>
        <div class="senha-display senha-display--vazio">
          <div class="senha-display__label">CHAMADA ATUAL</div>
          <div class="senha-display__senha">Aguardando</div>
          <div class="senha-display__nome">Nenhuma chamada no momento</div>
        </div>
      </ng-template>
    </div>

    <aside class="painel-tv__lateral">
      <div class="ultimas-chamadas">
        <div class="ultimas-chamadas__title">Ultimas chamadas</div>
        <ul>
          <li *ngFor="let chamada of ultimasChamadas">
            <span class="nome">{{ chamada.nomeBeneficiario }}</span>
            <span class="local">{{ chamada.localAtendimento }}</span>
          </li>
          <li *ngIf="!ultimasChamadas.length" class="vazio">Sem chamadas recentes.</li>
        </ul>
      </div>
    </aside>
  </section>

  <div class="ticker-wrap">
    <div class="ticker" [style.animationDuration]="(velocidadeTicker * 0.125) + 's'">
      <span class="ticker__item" *ngFor="let noticia of noticiasTicker">{{ noticia }}</span>
      <span class="ticker__item" *ngIf="!noticiasTicker.length">Aguardando novas noticias.</span>
    </div>
  </div>

</app-tela-padrao>

