<div class="tela-padrao" [class.tela-padrao--full]="fullWidth">
  <div class="page-header">
    <div class="page-title-slot">
      <ng-content select="[slot='titulo']"></ng-content>
    </div>
    <div class="page-actions">
      <ng-content select="[slot='acoes']"></ng-content>
      <app-barra-acoes-crud
        *ngIf="mostrarToolbar"
        [acoes]="acoes"
        [desabilitado]="desabilitado"
        [carregando]="carregando"
        [mostrarFechar]="mostrarFechar"
      (imprimir)="imprimir.emit()"
      (buscar)="buscar.emit()"
      (salvar)="salvar.emit()"
        (cancelar)="cancelar.emit()"
        (excluir)="excluir.emit()"
        (novo)="novo.emit()"
        (fechar)="fechar.emit()"
      ></app-barra-acoes-crud>
    </div>
  </div>

  <div class="page-body">
    <ng-content></ng-content>
  </div>
</div>

